# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Model files
*.h5

# Caffe model files
*.prototxt
*.caffemodel

# Output reports
reports/
*.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# Logs and debug
*.log

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Misc
.DS_Store
*.bak
